/*этот файл в кадировке UTF-8*/
body
{
    font-family: 'PT Sans Bold';
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    color: #000;
	background-color: #fff;
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
    width: 1200px;
    margin: 0 auto;
	outline: 2px solid red;
}

.main-navigation
{
    font-family: 'PT Sans Bold';
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    width: 1200px;
    margin: 0 auto;
    color: #000;

}

.left-side
{
    float: left;
	outline: 2px solid green;
	display: inline-block;
}

.right-side
{
    float: right;
	outline: 2px solid green;
	display: inline-block;
}

.menu-logo
{
    
	display: inline-block;
    width: 130px;
    height: 70px;
    margin: 0 auto;
	outline: 2px solid green;
}

.introduction
{
    width: 1200px;
    height: 510px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 76px;

    background-image: url('../img/index-introduction-background.jpg');
    background-repeat: no-repeat;
	outline: 2px solid pink;
}

.welcome
{
    display: block;

    width: 460px;
    height: 350px;
    margin: 0 auto;
	outline: 2px solid green;
}

.info
{
	padding-top: 60px;
    padding-bottom: 50px;
	text-align: center;
	background-color: #fff;
	outline: 2px solid blue;
}

.info p{
	margin-bottom: 30px;
}

.photo
{
    float: left;

    width: 800px;
    height: 255px;
	outline: 2px solid green;
}

.feature {
	float: left;
	width: 400px;
	text-align: center;
	outline: 2px solid blue;
}

.feature-beside-photo{
	padding-top: 55px;
	padding-bottom: 55px;
	color: #fff;
	background-color: #81b3d2;
}

.feature-beside-photo .feature-title{
	margin-bottom: 25px;
}

.feature-with-illustration {
	padding-top: 60px;
	padding-bottom: 80px;
	color: #000;
}

.feature-with-illustration .illustration {
	margin-bottom: 32px;
}

.feature-with-illustration .feature-title {
	margin-bottom: 25px;
}

.feature-other {
	padding-top: 50px;
	padding-bottom: 60px;
	color:#000;
	background-color: #eee;
}

.feature-other .feature-title {
	margin-bottom: 30px;
}

.feature-number {
	margin-bottom: 25px;
}

.search-form {
	width: 568px;
	margin: 0 auto;
}

.search-form-title {
	display: block;
	text-align: center;
	color: #fff;
	background-color: #766357;
}

.footer-colum {
	width: 33%;
	float: left;
}

.social-btn-tw
{
    background-image: url('../img/footer-icon-twitter.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-fb
{
    background-image: url('../img/footer-icon-facebook.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-yt
{
    background-image: url('../img/footer-icon-youtube.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
