body
{
    font-family: 'PT Sans Bold';
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    color: #000;
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
    width: 1200px;
    margin: 0 auto;

    opacity: .7;
    background-color: yellow;
}

.main-navigation
{
    width: 1200px;
    margin: 0 auto;

    opacity: .7;
    background-color: red;
}

.left-side
{
    float: left;

    opacity: .7;
    background-color: green;
}

.right-side
{
    float: right;

    opacity: .7;
    background-color: green;
}

.menu-logo/*лого не центруется посередине, хотя сделал margin слева и справа авто, не могу понять в чем ошибка, аналогично и с welcome */
{
    width: 130px;
    height: 70px;
    margin: 0 auto;

    opacity: .7;
    background-color: green;
}

.introduction
{
    width: 1200px;
    height: 510px;

    background-image: url('../img/index-introduction-background.jpg');
}

.welcome
{
    width: 460px;
    height: 350px;
    margin: 0 auto;

    opacity: .7;
    background-color: green;
}

.info
{
    margin: 0 auto;

    opacity: .7;
    background-color: red;
}

.social-btn-tw
{
    background-image: url('../img/footer-icon-twitter.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-fb
{
    background-image: url('../img/footer-icon-facebook.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-yt
{
    background-image: url('../img/footer-icon-youtube.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-navigation
{
    font-family: 'PT Sans Bold';
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    color: #000;
}

.feature-title
{
    font-family: 'PT Sans Bold';
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;

    color: #fff;
}
