/*этот файл в кадировке UTF-8*/
body
{
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    width: 100%;
    margin: 0;

    text-transform: uppercase;

    color: #000;
    background-color: #f2f2f2;
}

.shadow-container
{
    position: relative;

    width: 1200px;
    margin: 0 auto;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2);
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.main-navigation
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    position: relative;

    width: 1056px;
    padding: 15px 72px;

    color: #000;
    background-color: #fff;
}

.main-navigation ul
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation li
{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    display: inline-block;

    vertical-align: top;
}

.main-navigation a
{
    text-decoration: none;

    color: #000;
}

.main-navigation a:hover
{
    color: #81b3d2;
}
.main-navigation a:active
{
    color: #b2b2b2;
}

.main-navigation .active a
{
    color: #766357;
}

.main-navigation .active a:hover
{
    color: #604e43;
}

.main-navigation .active a:active
{
    color: #d6d0cc;
}

.left-side
{
    float: left;

    max-width: 460px;
}

.left-side li
{
    display: inline-block;

    width: 128px;
    padding-right: 112px;

    text-align: left;
}

.left-side li:nth-child(2)
{
    padding-right: 0;
}

.right-side
{
    float: right;

    max-width: 460px;
}

.right-side li
{
    display: inline-block;

    width: 128px;
    padding-left: 112px;

    text-align: right;
}

.right-side li:nth-child(1)
{
    padding-left: 0;
}

.menu-logo
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    width: 138px;
    height: 70px;
    margin: 0 auto;
}

.introduction
{
    position: relative;
    z-index: 1;

    width: 1200px;
    min-height: 508px;
    margin-right: auto;
    margin-left: auto;

    background: #dceaf3 url('../img/index-introduction-background.jpg') no-repeat;
}

.welcome
{
    position: absolute;
    top: 76px;
    left: 50%;

    width: 460px;
    height: 350px;

    transform: translate(-50%) ;
}

.info
{
    padding-top: 60px;
    padding-bottom: 50px;

    text-align: center;

    color: #000;
    background: #fff;
}

.info-title
{
    display: block;

    padding-bottom: 30px;
}

.info p
{
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;

    margin-top: 0;
    margin-bottom: 0;

    color: #333;
    background-color: #fff;
}



.specification .info .info-title
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    color: #000;
    background-color: #fff;
}



.photo
{
    float: left;

    width: 800px;
    height: 256px;
}

.feature
{
    float: left;

    width: 400px;

    text-align: center;
}

.feature-beside-photo
{
    padding-top: 50.5px;
    padding-bottom: 50.5px;

    color: #fff;
    background-color: #81b3d2;
}

.feature-beside-photo .feature-title
{
    display: block;

    margin-bottom: 25px;
}

.feature-with-illustration
{
    padding-top: 60px;
    padding-bottom: 80px;

    color: #000;
    background: #fff;
}

.feature-with-illustration .illustration
{
    margin-bottom: 32px;
}

.feature-with-illustration .feature-title
{
    display: block;

    margin-bottom: 25px;
}

.feature-with-illustration .feature-info
{
    color: #333;
}
.feature-other
{
    padding-top: 50px;
    padding-bottom: 60px;

    color: #000;
    background-color: #eee;
}

.feature-other .feature-title
{
    display: block;

    margin-bottom: 30px;
}

.feature-title
{
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
}

.feature-number
{
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    margin-bottom: 25px;
}

.feature-info
{
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    margin-top: 0;
    margin-bottom: 0;
}

.index-map
{
    width: 1200px;
    height: 595px;

    background-image: url('../img/index-map.jpg');
    background-repeat: no-repeat;
}

.hostel-search
{
    background: #fff;
}

.search-form
{
    width: 568px;
    margin: 0 auto;
}

.hostel-search .info-title
{
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
}

.hostel-search .info-title p
{
    font-size: 24px;
    font-weight: normal;
    line-height: 14px;

    padding-top: 0;
    padding-bottom: 0;
}

.search-form-title
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    display: block;

    width: 548px;
    padding: 32px 10px;

    text-align: center;

    color: #fff;
    background-color: #766357;
}

.search-form-container
{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;

    position: absolute;

    width: 458px;
    padding: 55px;

    text-transform: uppercase;

    background: #fff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .15);
}

.search-form-content label
{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
	display: inline-block;
    float: left;
	margin: 6px 0px;
    text-transform: uppercase;
}

.search-form-container input[type='text']
{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    float: right;

    text-transform: uppercase;
}

.input-form
{
    position: relative;

    margin-bottom: 30px;
}

.input-form input[type='text']
{
    width: 286px;
    height: 34px;
    padding-right: 40px;
    padding-left: 15px;

    border: 2px solid #f2f2f2;
    background: #f2f2f2;
}

.input-form input[type='text']:hover
{
    border: 2px solid #f2f2f2;
    background: #ebebeb;
}

.input-form input[type='text']:focus
{
    border: 2px solid #e5e5e5;
    background: #fff;
}

.index-calendar
{
    position: absolute;
	right: 10px;
	top: 10px;
	width: 21px;
	height: 22px;
	border: none;
    background: url('../img/index-calendar-icon.png') no-repeat;
}

.index-calendar:hover {
	background: url('../img/index-calendar-icon-hvr.png') no-repeat;
}

.index-calendar:active {
	background: url('../img/index-calendar-icon-down.png') no-repeat;
}

.counter input[type='text'],
.counter-btn
{
    width: 38px;
    height: 38px;
    padding: 0;

    text-align: center;

    border: none;
    background: #f2f2f2;
}

.counter
{
    width: 229px;
    margin-bottom: 55px;
	float: left;
}

.counter-children {
	width: 176px;
	padding-left: 53px;
}

.counter input[type='text']
{
    float: none;
}

.counter-buttons {
	font-size: 0;
	float: right;
}

.counter-buttons button,
.counter-buttons input[type='text']
{
	display: inline-block;
	vertical-align: middle;
}

.btn-minus
{
    background-image: url('../img/btn-minus.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn-minus:hover
{
    background-image: url('../img/btn-minus-hvr.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn-minus:active
{
    background-image: url('../img/btn-minus-down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn-plus
{
    background-image: url('../img/btn-plus.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn-plus:hover
{
    background-image: url('../img/btn-plus-hvr.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.btn-plus:active
{
    background-image: url('../img/btn-plus-down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.search-btn
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    width: 458px;
    height: 58px;
    padding: 0;

    text-transform: uppercase;

    color: #fff;
    border: none;
}

.search-btn:active
{
    color: #88b6d1;
}

.hostel-filter
{
    width: 1056px;
    height: 157px;
    padding: 30px 72px;

    color: #fff;
    background-image: url('../img/catalog-filter-background.jpg');
    background-repeat: no-repeat;
}

.hostel-filter fieldset:first-child
{
    float: left;

    width: 240px;
}

.hostel-filter fieldset:nth-child(2)
{
    float: left;

    width: 290px;
}

.hostel-filter fieldset:last-child
{
    float: right;

    width: 330px;
}

.hostel-filter-item
{
    float: left;
    clear: left;
}

.hostel-filter-item  label
{
    float: right;

    padding-left: 20px;
}

.hostel-filter-item input[type='checkbox'] {
	display: none;
}

.hostel-filter-item input[type='checkbox'] + label {
	display: block;
	margin: 10px 0;
	line-height: 20px;
	padding-left: 45px;
	position: relative;
}

input[type='checkbox'] + label::before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background: url("../img/catalog-checkbox-off.png") no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.hostel-list-title
{
    padding: 30px 72px;

    border-bottom: 1px solid #e5e5e5;
}

.hostel-list-title span
{
    padding-right: 50px;
}

.sorting-title
{
    padding-right: 40px;
}

.sorting-title a
{
    display: inline-block;

    padding-right: 30px;

    color: #b1b1b1;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-title a:nth-child(4)
{
    float: right;
}

.sorting-title a:nth-child(4)
{
    float: right;
}

.sorting
{
    display: inline-block;
}

.hostel-list-item
{
    padding: 30px 72px;

    border-bottom: 1px solid #e5e5e5;
}

.hostel-list-item a
{
    float: left;
}

.hostel-list-info
{
    float: left;

    padding-left: 30px;
}

.hostel-list-info .feature-title
{
    display: block;
    clear: right;

    margin-bottom: 12px;
}

.hostel-list-info span
{
    clear: right;

    margin-bottom: 16px;
}

.hostel-list-info a
{
    float: right;
}


.rating
{
    float: right;
}

.rating-star
{
    float: right;

    margin-bottom: 45px;
}

.hostel-list-info
{
    pading-right: 30px;
}

.main-footer
{
    position: absolute;
    bottom: 0;

    min-height: 120px;

    background: rgba(255, 255, 255, .9);
}

.inside-footer {
	background: #fff;
}

.footer-colum
{
    display: inline-block;

    width: 33%;
    margin: 0 auto;

    text-align: center;
}

.footer-contacts
{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    display: inline-block;

    margin-top: 47px;
    margin-bottom: 47px;

    vertical-align: middle;
    text-decoration: none;

    color: #000;
}

.footer-social
{
    display: inline-block;

    vertical-align: middle;
}


.social-btn
{
    font-size: 0;

    display: inline-block;

    width: 46px;
    height: 48px;
    margin: 0 3px;

    vertical-align: middle;
    text-decoration: none;
}

.btn-blue
{
    background: #81b3d2;
}

.btn-blue:hover
{
    background: #669ec0;
}

.btn-blue:active
{
    background: #5496bd;
}

.social-btn-tw
{
    background-image: url('../img/footer-icon-twitter.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-tw:hover
{
    background-image: url('../img/footer-icon-twitter.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-tw:active
{
    background-image: url('../img/footer-icon-twitter-down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-fb
{
    background-image: url('../img/footer-icon-facebook.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-fb:hover
{
    background-image: url('../img/footer-icon-facebook.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-fb:active
{
    background-image: url('../img/footer-icon-facebook-down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-yt
{
    background-image: url('../img/footer-icon-youtube.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-yt:hover
{
    background-image: url('../img/footer-icon-youtube.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-btn-yt:active
{
    background-image: url('../img/footer-icon-youtube-down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.footer-copyright a
{
    display: inline-block;

    width: 113px;
    height: 39px;

    vertical-align: middle;

    background: url('../img/footer-html-academy.png');
}

.footer-copyright a:hover
{
    background: url('../img/footer-html-academy-hvr.png');
}

.footer-copyright a:active
{
    background: url('../img/footer-html-academy-down.png');
}


.footer-copyright span
{
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
	
    display: inline-block;

    vertical-align: middle;
}
